.normal {
  background-color: skyblue;
}
.box {
  background-color: orange;
  width: 200px;
  height: 200px;
  padding: 8px 12px 16px 20px;
  margin: 8px 12px 16px 20px;
}

.margin {
  background-color: pink;
}
